.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 30%;
    background-color: rgb(175, 248, 225);
    border-radius: 10px;
}
.err{
    color: red;
    font-size: 13px;
}
.error-border{
    border-color: red;
}
form input{
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    width: 200px;
}